body {
    background-color: #FFFFE0; /* warna kuning cerah */
    font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
    color: #191970; /* warna teks utama (biru gelap) */
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* membuat sudut menjadi selengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan */
    text-align: center; /* menengahkan semua teks di dalam kartu */
}

.kartu-profil img {
    width: 50px;
    border-radius: 50%; /* membuat gambar menjadi lingkaran */
    
}

/* ===== Gaya untuk semua tombol ===== */
button {
    background-color: #191970;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

/* Efek saat kursor diarahkan ke tombol */
button:hover {
    background-color: #4169E1;
}

