/* ==== Tengahin isi halaman di semua ukuran layar ==== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFE0;
    font-family: Arial, sans-serif;
    color: #191970;

    display: flex;             /* aktifkan flexbox */
    justify-content: center;   /* posisi horizontal di tengah */
    align-items: center;       /* posisi vertikal di tengah */
    flex-direction: column;    /* biar footer tetap di bawah */
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* membuat sudut menjadi selengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan */
    text-align: center; /* menengahkan semua teks di dalam kartu */
}

/* ==== Tambahan biar di HP gak kepotong ==== */
@media (max-height: 600px) {
    body {
        align-items: flex-start;
        padding-top: 20px;
    }
}
/*  */
.kartu-profil img {
    width: 50px;
    border-radius: 50%; /* membuat gambar menjadi lingkaran */
    
}

/* ===== Gaya untuk semua tombol ===== */
button {
    background-color: #191970;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

/* Efek saat kursor diarahkan ke tombol */
button:hover {
    background-color: #4169E1;
}

